.app {
  display: flex !important;
  justify-content: center;
  height: 100vh;
}

.app__column {
  margin-top: 8rem;
  max-width: 1100px;
}

.app__logout{
  position: fixed;
  left: 2em;
  top: 2em;
}
