label{
  color: aliceblue;
}
.login{
  height: 100vh;
  text-align: center;
}

.login__column{
  max-width: 900px;
}
.login__title {
  text-align: center !important;
}
.login__form {
  width: 80%;
  margin: auto;
}

.login__button-login {
  margin: 1em 0 !important;
}

.login__attribution{
  color: aliceblue;
}
