:root{
  --main-background-color: #121212;
  --red: hsl(0, 71%, 51%);
  --gray: hsl(210, 3%, 88%);
}

body{
  background-color: var(--main-background-color);
}

label {
  color: var(--gray) !important;
}

